<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar style="background:darkred;" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon style="color: white">menu</mat-icon></button>
    <h1 class="example-app-name" style="color: white">MOVIE RATER</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'fixed' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="width: 10vw">
      <mat-nav-list>
        <h5>HOME</h5>
        <h5>HOME</h5>
        <h5>HOME</h5>
        <h5>HOME</h5>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

